body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(../imagen/San_Jorge_Puerto.jpg);
    background-position: center; /* Centra la imagen horizontalmente */
    background-repeat: no-repeat;
}

header {
    background: linear-gradient(90deg, rgba(238, 174, 231, 0.8) 0%, rgba(148, 187, 233, 0.8) 100%);
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

header nav ul li {

}

header nav ul li.logo {
    margin-right: auto;
    margin-left: 50px;
}

header ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    margin-right: 50px;
}

header nav ul li a:hover {
    color: #ffcc00;
}

header nav ul li.logo img {
    max-height: 65px;
}

nav ul li.comprar-boleto a {
    background-color: #ffcc00;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li.comprar-boleto a:hover {
    background-color: #e6b800;
    color: white;
}

/* Add media queries for mobile responsiveness */

/* For screens with a maximum width of 768px (e.g., tablets) */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }
    header nav ul li {
        margin-bottom: 10px;
    }
    header nav ul li.logo {
        margin-left: 20px;
    }
    header ul li a {
        font-size: 16px;
    }
    nav ul li.comprar-boleto a {
        padding: 10px 15px;
    }
}

/* For screens with a maximum width of 480px (e.g., mobile phones) */







/* Footer styles */
footer {
    background: rgb(37,42,60);
    background: -moz-linear-gradient(90deg, rgba(37,42,60,0.8) 0%, rgba(0,114,249,0.8) 100%);
    background: -webkit-linear-gradient(90deg, rgba(37,42,60,0.8) 0%, rgba(0,114,249,0.8) 100%);
    background: linear-gradient(90deg, rgba(37,42,60,0.8) 0%, rgba(0,114,249,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#252a3c",endColorstr="#0072f9",GradientType=1);
    color: #fff;
    padding: 0px;
    text-align: center;
    font-family: monospace;
}

.footer-container {
    max-width: auto;
    margin: 0 auto;
    padding: 10px;
}

.footer-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-container li {
    margin-right: 20px;
}

.footer-container a {
    color: #fff;
    text-decoration: none;
}

.footer-container a:hover {
    color: #ccc;
}