body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: rgb(227,226,250);
    background: radial-gradient(circle, rgba(227,226,250,1) 0%, rgba(167,180,255,1) 100%);
}

header {
    background: linear-gradient(90deg, rgba(238, 174, 231, 0.8) 0%, rgba(148, 187, 233, 0.8) 100%);
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

header nav ul li {

}

header nav ul li.logo {
    margin-right: auto;
    margin-left: 50px;
}

header ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    margin-right: 50px;
}

header nav ul li a:hover {
    color: #ffcc00;
}

header nav ul li.logo img {
    max-height: 65px;
}

nav ul li.comprar-boleto a {
    background-color: #ffcc00;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li.comprar-boleto a:hover {
    background-color: #e6b800;
    color: white;
}

/* Add media queries for mobile responsiveness */

/* For screens with a maximum width of 768px (e.g., tablets) */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }
    header nav ul li {
        margin-bottom: 10px;
    }
    header nav ul li.logo {
        margin-left: 20px;
    }
    header ul li a {
        font-size: 16px;
    }
    nav ul li.comprar-boleto a {
        padding: 10px 15px;
    }
}


main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    background: url('./imagen/San_Jorge_Puerto.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
    position: relative;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #ff6600;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e65c00;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #004080;
    text-align: center;
}

p {
    font-size: 1em;
    line-height: 1.5;
    color: #333;
    text-align: center;
}

.attractions, .services, .testimonials {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.attraction, .service, .testimonial {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    flex: 1 1 calc(33.333% - 40px);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    max-width: 300px;
    text-align: left;
}

.attraction:hover, .service:hover, .testimonial:hover {
    transform: translateY(-5px);
}

.attraction h3, .service h3, .testimonial p.author {
    margin-bottom: 10px;
    color: #004080;
}

.schedules table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.schedules th, .schedules td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.schedules th {
    background-color: #004080;
    color: white;
}

@media (max-width: 768px) {
    .attraction, .service, .testimonial {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .hero {
        padding: 50px 20px;
    }

    .hero h1 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }
}


/* Footer styles */
footer {
    background: rgb(0,10,36);
    background: linear-gradient(90deg, rgba(0,10,36,1) 0%, rgba(8,30,106,1) 99%);
    color: #fff;
    padding: 0px;
    text-align: center;
    font-family: monospace;
}

.footer-container {
    max-width: auto;
    margin: 0 auto;
    padding: 10px;
}

.footer-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-container li {
    margin-right: 20px;
}

.footer-container a {
    color: #fff;
    text-decoration: none;
}

.footer-container a:hover {
    color: #ccc;
}